.bg-forest {
  background-color: #04202C; }

.badge-gold {
  background-color: #CFB53B;
  color: black; }

.badge-silver {
  background-color: #E6E8FA;
  color: black; }

.badge-bronze {
  background-color: #8C7853;
  color: black; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.btn-success {
  background-color: #5b7065;
  color: white;
  border: none; }

.btn-success:hover {
  background-color: #04202C; }

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40; }

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #04202C !important;
  border-color: #04202C !important; }

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(33, 37, 41, 0.12) !important; }

.modal-header, .modal-footer {
  border: 0px; }

.modal-dialog {
  max-width: 326px !important; }

.form-control:focus {
  border-color: #C9D1C8;
  box-shadow: 0 0 0 0.2rem rgba(33, 37, 41, 0.27); }

.h3 {
  color: #304040; }

button:focus {
  outline: none; }

body {
  background-color: #304040ed; }
  body .header {
    background-color: #04202C; }

.autor {
  bottom: 0px; }
  .autor small {
    position: absolute;
    bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white; }

.recent-item {
  overflow: hidden;
  height: 146px;
  transition-timing-function: ease-in;
  transition: height 0.5s; }
  .recent-item .group {
    padding-top: 20px;
    transition: padding-top 0.5s; }

.recent-item:hover {
  height: 203px; }
  .recent-item:hover .group {
    padding-top: 0px; }

.dificulty {
  margin-left: 90px; }

.list-group-item:last-child {
  border-bottom: 0px; }

.mostviewed {
  overflow: hidden; }
  .mostviewed .mostviewed-item:last-child {
    border-bottom: 0px; }
  .mostviewed .mostviewed-item {
    height: 110.5px;
    overflow: hidden;
    border-left: 0px;
    border-bottom: 1px solid #5b7065;
    border-top: 0px;
    padding: 0px; }
    .mostviewed .mostviewed-item h5 {
      font-size: 17px; }
    .mostviewed .mostviewed-item p {
      font-size: 16px; }

#topAutors .list-group-item:hover {
  cursor: pointer; }
#topAutors .list-group-item:hover:not(.active) {
  color: #495057;
  text-decoration: none;
  background-color: #f8f9fa; }
#topAutors .profile {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem; }
#topAutors .imageOverflow {
  width: 25%;
  overflow: hidden;
  border-radius: 600px; }

#footer {
  color: white; }
  #footer .footer-copyright {
    background-color: #304040; }

#Grouplogin {
  background-color: #304040c2; }
  #Grouplogin .notMember, #Grouplogin .Member {
    cursor: pointer;
    color: #04202C; }
  #Grouplogin .notMember:hover, #Grouplogin .Member:hover {
    color: #5b7065; }

.bloc_left_price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 150%; }

.category_block li:hover {
  background-color: #007bff; }

.category_block li:hover a {
  color: #ffffff; }

.category_block li a {
  color: #343a40; }

.add_to_cart_block .price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 0; }

.add_to_cart_block .price_discounted {
  color: #343a40;
  text-align: center;
  text-decoration: line-through;
  font-size: 140%; }

.product_rassurance {
  padding: 10px;
  margin-top: 15px;
  background: #ffffff;
  border: 1px solid #6c757d;
  color: #6c757d; }

.product_rassurance .list-inline {
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center; }

.product_rassurance .list-inline li:hover {
  color: #343a40; }

.reviews_product .fa-star {
  color: gold; }

.pagination {
  margin-top: 20px; }

/*# sourceMappingURL=style.css.map */
